body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f6fb;
}

header{
    background:gray;
    color:white;
    text-align:center;
    padding:25px;
    font-size:30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container{
    display:flex;
    gap:25px;
    padding:30px;
    justify-content: center;
    margin: 0 auto;
}

.card{
    background:skyblue;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 5px gray;
}

h2{
    margin-top:0;
    color:white;
    font-weight: 900;
    justify-content: center;
    display: flex;
    font-size: xx-large;
    letter-spacing: 2px;
}

h3{
    font-weight: 600;
    font-size: x-large;
    letter-spacing: 2px ;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:skyblue;
    color:white;
    padding:12px;
}

td, th{
    padding:10px;
    text-align:center;
    border:1px solid black;
}

tr{
    font-size: larger;
}

tr:hover{
    background:#f1f1f1;
}

ol{
    font-size: larger;
    letter-spacing: 1px;
}

ul{
    font-size: larger;
    letter-spacing: 1px;
}

.average{
    font-weight:bold;
    background:#e3e5e6;
}

footer{
    text-align:center;
    font-size: larger;
    font-weight: 500;
    color:black;
    padding:15px;
}